:root{
    --background-color: rgb(4, 102, 102);
    --text-color: white;
    --button-color: orange;
    --button-text-color: purple;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[data-theme="dark"]{
    --background-color: #800080;
    --text-color: orange;
    --button-color: rgb(4, 102, 102);
    --button-text-color: orange;
}

.light-dark-theme{
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 100dvw;
    align-items: center;
    justify-content: center;
}

.light-dark-theme div{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

button{
    background-color: var(--button-color);
    color: var(--button-text-color);
    border-radius: 20px;
    padding: 10px 30px;
    margin: 20px 0 0 ;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
